*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
  
    background-image: url("cool-background.png");
   
}

/*heading*/
.methodteller{
    position: absolute;
    width: 504px;
    height: 72px;
    left: 468px;
    top: 60px;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
    color: #388659;
}

.subheading{
    position: absolute;
    width: 279px;
    height: 42px;
    font-size: 24px;
    left: 809px;
    top: 134px;
    text-align: center;
    color: #000000;
}
.rectangle1{
    position: absolute;
width: 1180px;
height: 62px;
left: 126px;
top: 258px;
background: #C4C4C4;
}
.content{
    position: absolute;
    width: 1088px;
    height: 39px;
    left: calc(50% - 1088px/2);
    top: 9px;
 
    font-size: 25px;
    line-height: 39px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.01em;
    color: #52AA5E;
    mix-blend-mode: normal;
}

.number{
    position: absolute;
    width: 280px;
    height: 108px;
    left: 84px;
    top: 494px;
    background: #52AA5E;
}
.numtext,.strtxt{
    position: absolute;
width: 105px;
height: 45px;
left: 62px;
top: 26px;
font-size: 36px;
/* identical to box height */
text-align: center;
color: #2BD9FE;
}

.strings{
    position: absolute;
    width: 280px;
    height: 108px;
    left: 629px;
    top: 494px;
    background: #52AA5E;
}

.arrays{
    position: absolute;
    width: 212px;
    height: 108px;
    left: 1078px;
    top: 494px;
    background: #52AA5E;
}

.arrtxt{
    position: absolute;
width: 84px;
height: 45px;
left: 62px;
top: 26px;
font-size: 36px;
line-height: 45px;
/* identical to box height */
text-align: center;
color: #2BD9FE;
}

footer{
    position: absolute;
    width: 1440px;
    height: 55px;
    left: 0px;
    top: 956px;
    background: #2BD9FE;
}

.txt{
    position: absolute;
width: 181px;
height: 29px;
left: 572px;
top: 3px;
padding: 3px;
font-family: Poly;
font-style: normal;
font-weight: normal;
font-size: 24px;

/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: rgba(5, 5, 5, 0.92);

}

/*home*/

.home
{
    color: #FFBF46;color: #FFBF46;

}

/*table*/
th{
    background-color: #000000;
    color: white;
    padding: 2px;
}

td{
    border: 1px solid black;
    height: 150px;
    
}

